
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/MDuran/test2.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Profesionales/CON-PRO-006.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Profesionales/CON-PRO-002.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Profesionales/CON-PRO-005.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Proyectos/CON-PRY-001.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Unidades/CON-UNI-002.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Unidades/CON-UNI-003.wcdf'"></app-pentaho-dashboard> -->
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/CONICIT/Profesionales/CON-PRO-003.wcdf'"></app-pentaho-dashboard> -->

<select name="selectParam" id="drop" (change)="onChangeSelect($event.target.value)">
    <option value="All Customers">All Customers</option>
    <option value="Petit Auto">Petit Auto</option>
    <option value="Kelly's Gift Shop">Kelly's Gift Shop</option>
    
</select>
<!-- <app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/MDuran/test_params.wcdf'"></app-pentaho-dashboard> -->
<app-pentaho-dashboard [id]="'content1'" [dashboardPath]="'public/MDuran/test_params.wcdf'" [setDefaults]="true" [pentahoParamsName]="['getValue']" [params]="[selectCustumer]" [externalHtmlId]="['drop']"></app-pentaho-dashboard>